/* IMPORTANT FOR DRAG AND DROP */
div.budget-box {
    min-height: 10px;
    width: 50%;
    padding: 10px;
}
.box-header {
    padding: 0px;
}
.small-box  {
    margin: 0px;
}
.budget-box-div {
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0,0.2);
}
.operation-icon {
    font-size: 80px;
    vertical-align: top;
    margin-top: 20px;
}
.info-box {
    margin-bottom: 0px;
}
.box {
    margin-bottom: 0px;
}
.plus-white {
    color: white;
}
/* END IMPORTANT FOR DRAG AND DROP */
.operation-bloc {
    background-image: linear-gradient(#007bff, #2a77cc);
}

table.transactionTable {
    color: #343a40;
    width: 100%;
    font-size: smaller;
    padding: 2px;
    vertical-align: top;
}

table.transactionTable td {
    padding: 0.5rem;
}

.negativ {
    color: #e00014;
    background-color: white;
    font-weight: bold;
}

.negativ:before {
    font-family: FontAwesome;
    content: "\f12a";
    font-weight: bold;
}

.positiv {
    color: #009b17;
    background-color: white;
}

.positiv:before {
    font-family: FontAwesome;
    content: "\f00c";
}

.solde {
    border-radius: 2rem !important;
    padding: 10px 10px 10px 10px;
    /*background: #68b0ff;*/
    margin-right: 50px;
    text-align: right;
}

.operation-title {
    font-size: larger;
    font-weight: bold;
}

.operation-budget {
    font-weight: normal;
}

i.transaction-icon {
    cursor: pointer;
}