<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Liste des transactions</title>
</head>
<body>
    <ol class="budget-box" ng-controller="TransactionCtrl" ng-init="getTransactionBloc()">
        <li ng-repeat="transactionBloc in transactionBlocArray | filter: {TransactionType: 3 }">
            <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw {{transactionBloc.OperationIcon}} move"></i>
                    </div>
                    <div class="mr-5">
                        <div>{{transactionBloc.OperationName}}</div>
                        <div>Budget : {{transactionBloc.TransactionAmount | currency:"CHF "}}</div>
                    </div>
                </div>
                <a class="card-footer text-white clearfix small z-1" data-toggle="collapse" href="#collapseTransaction{{transactionBloc.OperationId}}" aria-expanded="false" aria-controls="collapseTransaction>
                    <span class="float-left">Détails &nbsp; <i class="fa fa-angle-right"></i></span>
                    <span class="float-right">
                        Total des dépenses : {{(debitByOperationArray | filter : {OperationId: transactionBloc.OperationId})[0].TransactionAmount | currency:"CHF "}}
                    </span>
                </a>
                <div class="collapse" id="collapseTransaction{{transactionBloc.OperationId}}">
                    <div class="card card-block">
                        <table class="transactionTable">
                            <tr ng-repeat="transaction in transactionBlocArray | filter: {TransactionType: 1 } | filter: {OperationId: transactionBloc.OperationId }">
                                <td>{{transaction.TransactionRemark}}</td>
                                <td width="100px">{{transaction.TransactionAmount | currency:"CHF "}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </li>
    </ol>   
    <script>
        $(function () {
            var adjustment;

            $("ol.budget-box").sortable({
                group: 'no-drop',
                handle: 'i.move',
                placeholderClass: "placeholder",
                placeholder: '<li class="placeholder">&nbsp;</li>',
                // animation on drop
                onDrop: function ($item, container, _super) {
                    var $clonedItem = $('<li/>').css({ height: 0 });
                    $item.before($clonedItem);
                    $clonedItem.animate({ 'height': $item.height() });

                    $item.animate($clonedItem.position(), function () {
                        $clonedItem.detach();
                        _super($item, container);
                    });
                },

                // set $item relative to cursor position
                onDragStart: function ($item, container, _super) {
                    var offset = $item.offset(),
                        pointer = container.rootGroup.pointer;

                    adjustment = {
                        left: pointer.left - offset.left,
                        top: pointer.top - offset.top
                    };

                    _super($item, container);
                },
                onDrag: function ($item, position) {
                    $item.css({
                        left: position.left - adjustment.left,
                        top: position.top - adjustment.top
                    });
                }
            });
        });
    </script>
</body>
</html>