<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Liste des transactions</title>
</head>
<body>
    <div class="row budget-box" ng-controller="TransactionCtrl" ng-init="getTransactionBloc()">
        <section class="connectedSortable">
            <div class="budget-box-div" ng-repeat="transactionBloc in transactionBlocArray | filter: {TransactionType: 3 }">


                <div class="box box-solid">
                    <div class="box-header">
                        <!-- small box -->
                        <div class="small-box">

                            <div class="info-box bg-aqua">
                                <span class="info-box-icon"><i class="fa {{transactionBloc.OperationIcon}}"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-number">{{transactionBloc.OperationName}}</span>
                                    <span class="info-box-text"><img src="~/Content/Images/budget.png" /> {{transactionBloc.TransactionAmount | currency:"CHF "}}</span>

                                    <div class="progress progress-xs">
                                        <div class="progress-bar progress-bar-danger" style="width: {{transactionBloc.Percent}}%"></div>
                                    </div>
                                    <span class="progress-description">
                                        <i class="fa fa-1x fa-credit-card"></i>  {{transactionBloc.OperationTotal | currency:"CHF "}}
                                        <a class="box-tools pull-right plus-white" data-toggle="collapse" href="#collapseTransaction{{transactionBloc.OperationId}}" aria-expanded="false" aria-controls="collapseTransaction">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <div class="collapse" id="collapseTransaction{{transactionBloc.OperationId}}">
                                <div class="details-bloc">
                                    <table class="table table-bordered table-hover table-condensed transactionTable">
                                        <tr ng-repeat="transaction in transactionBlocArray | filter: {TransactionType: 1 } | filter: {OperationId: transactionBloc.OperationId }">
                                            <td style="white-space: nowrap; width: 70px;">
                                                <span editable-date="transaction.DateFormatted" e-name="DateFormatted" e-form="rowform" e-style="width:70px;" e-required>
                                                    {{ transaction.DateFormatted | date:"dd/MM/yyyy" }}
                                                </span>
                                            </td>
                                            <td>
                                                <span editable-textarea="transaction.TransactionRemark" e-name="TransactionRemark" e-form="rowform" e-required>
                                                    {{ transaction.TransactionRemark }}
                                                </span>
                                            </td>
                                            <td style="white-space: nowrap; width: 100px;">
                                                <span editable-text="transaction.TransactionAmount" e-name="TransactionAmount" e-form="rowform" e-style="width:100px; text-align: right;" e-required>
                                                    {{ transaction.TransactionAmount | currency:"CHF "}}
                                                </span>
                                            </td>
                                            <td style="white-space: nowrap; width: 80px;">
                                                <form editable-form name="rowform" onbeforesave="saveUser($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == transaction">
                                                    <button type="submit" style="border:none; background-color: transparent;">
                                                        <i class="fa fa-2x fa-floppy-o transaction-icon" ng-disabled="rowform.$waiting"></i>
                                                    </button>
                                                    <i class="fa fa-2x fa-ban transaction-icon" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"></i>
                                                </form>
                                                <div class="buttons" ng-show="!rowform.$visible">
                                                    <i class="fa fa-2x fa-pencil-square-o transaction-icon" ng-click="rowform.$show()"></i>
                                                    <i class="fa fa-2x fa-trash-o transaction-icon" ng-click="removeUser($index)"></i>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <button type="button" class="btn btn-default" ng-click="addUser()">Add row</button>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    
        <!--
        <div class="card text-white operation-bloc o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-fw  move"></i>
                </div>
                <div class="mr-5">

                </div>
            </div>
            <a class="card-footer text-white clearfix z-1" data-toggle="collapse" href="#collapseTransaction{{transactionBloc.OperationId}}" aria-expanded="false" aria-controls="collapseTransaction">
                <span class="float-left">Détails <i class="fa fa-angle-right"></i></span>
                <span class="float-right">
                    <i class="fa fa-1x fa-credit-card"></i> {{transactionBloc.OperationTotal | currency:"CHF "}}
                </span>
            </a>
            <div class="collapse" id="collapseTransaction{{transactionBloc.OperationId}}">
                <div class="card card-block">
                    <table class="table table-bordered table-hover table-condensed transactionTable">
                        <tr ng-repeat="transaction in transactionBlocArray | filter: {TransactionType: 1 } | filter: {OperationId: transactionBloc.OperationId }">
                            <td style="white-space: nowrap; width: 70px;">
                                <span editable-date="transaction.DateFormatted" e-name="DateFormatted" e-form="rowform" e-style="width:70px;" e-required >
                                    {{ transaction.DateFormatted | date:"dd/MM/yyyy" }}
                                </span>
                            </td>
                            <td>
                                <span editable-textarea="transaction.TransactionRemark" e-name="TransactionRemark" e-form="rowform" e-required>
                                    {{ transaction.TransactionRemark }}
                                </span>
                            </td>
                            <td style="white-space: nowrap; width: 100px;">
                                <span editable-text="transaction.TransactionAmount" e-name="TransactionAmount" e-form="rowform" e-style="width:100px; text-align: right;" e-required>
                                    {{ transaction.TransactionAmount | currency:"CHF "}}
                                </span>
                            </td>
                            <td style="white-space: nowrap; width: 80px;">
                                <form editable-form name="rowform" onbeforesave="saveUser($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == transaction">
                                    <button type="submit" style="border:none; background-color: transparent;">
                                        <i class="fa fa-2x fa-floppy-o transaction-icon" ng-disabled="rowform.$waiting"></i>
                                    </button>
                                    <i class="fa fa-2x fa-ban transaction-icon" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"></i>
                                </form>
                                <div class="buttons" ng-show="!rowform.$visible">
                                    <i class="fa fa-2x fa-pencil-square-o transaction-icon" ng-click="rowform.$show()"></i>
                                    <i class="fa fa-2x fa-trash-o transaction-icon" ng-click="removeUser($index)"></i>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <button type="button" class="btn btn-default" ng-click="addUser()">Add row</button>
                </div>
            </div>
        </div>-->

        <script>
            $(function () {
                var adjustment;

                $("ol.budget-box").sortable({
                    group: 'no-drop',
                    handle: 'i.move',
                    placeholderClass: "placeholder",
                    placeholder: '<li class="placeholder">&nbsp;</li>',
                    // animation on drop
                    onDrop: function ($item, container, _super) {
                        var $clonedItem = $('<li/>').css({ height: 0 });
                        $item.before($clonedItem);
                        $clonedItem.animate({ 'height': $item.height() });

                        $item.animate($clonedItem.position(), function () {
                            $clonedItem.detach();
                            _super($item, container);
                        });
                    },

                    // set $item relative to cursor position
                    onDragStart: function ($item, container, _super) {
                        var offset = $item.offset(),
                            pointer = container.rootGroup.pointer;

                        adjustment = {
                            left: pointer.left - offset.left,
                            top: pointer.top - offset.top
                        };

                        _super($item, container);
                    },
                    onDrag: function ($item, position) {
                        $item.css({
                            left: position.left - adjustment.left,
                            top: position.top - adjustment.top
                        });
                    }
                });
            });
        </script>
</body>
</html>