<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Liste des transactions</title>
</head>
<body>
    <ol class="budget-box" ng-controller="TransactionCtrl" ng-init="getTransactionBloc()">
        <li ng-repeat="transactionBloc in transactionBlocArray | filter: {TransactionType: 3 }">
            <div class="card text-white operation-bloc o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw {{transactionBloc.OperationIcon}} move"></i>
                    </div>
                    <div class="mr-5">
                        <span class="float-left">
                            <div class="operation-title">{{transactionBloc.OperationName}}</div>
                            <div class="operation-budget"><img src="~/Content/Images/budget.png"/> {{transactionBloc.TransactionAmount | currency:"CHF "}}</div>
                        </span>

                        <span class="float-right solde" ng-class="{negativ: (transactionBloc.Solde < 0), positiv: (transactionBloc.Solde >= 0)}">
                            {{transactionBloc.Solde | currency:"CHF "}}
                        </span>
                    </div>
                </div>
                <a class="card-footer text-white clearfix z-1" data-toggle="collapse" href="#collapseTransaction{{transactionBloc.OperationId}}" aria-expanded="false" aria-controls="collapseTransaction>
                    <span class="float-left">Détails <i class="fa fa-angle-right"></i></span>
                    <span class="float-right">
                        <i class="fa fa-1x fa-credit-card"></i> {{transactionBloc.OperationTotal | currency:"CHF "}}
                    </span>
                </a>
                <div class="collapse" id="collapseTransaction{{transactionBloc.OperationId}}">
                    <div class="card card-block">
                        <table class="table table-bordered table-hover table-condensed transactionTable">
                            <tr ng-repeat="transaction in transactionBlocArray | filter: {TransactionType: 1 } | filter: {OperationId: transactionBloc.OperationId }">
                                <td>
                                    <span editable-text="transaction.TransactionDate" e-name="TransactionDate" e-form="rowform" e-required>
                                        {{transaction.TransactionDate}}
                                    </span>
                                </td>
                                <td style="white-space: nowrap">
                                    <!-- form -->
                                    <form editable-form name="rowform" onbeforesave="saveUser($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
                                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                            save
                                        </button>
                                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                            cancel
                                        </button>
                                    </form>
                                    <div class="buttons" ng-show="!rowform.$visible">
                                        <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                                        <button type="button" class="btn btn-danger" ng-click="removeUser($index)">del</button>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <button type="button" class="btn btn-default" ng-click="addUser()">Add row</button>


                        <table >
                            <tr >
                                <td>{{transaction.TransactionRemark}}</td>
                                <td >{{transaction.TransactionAmount | currency:"CHF "}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </li>
    </ol>   
    <script>
        $(function () {
            var adjustment;

            $("ol.budget-box").sortable({
                group: 'no-drop',
                handle: 'i.move',
                placeholderClass: "placeholder",
                placeholder: '<li class="placeholder">&nbsp;</li>',
                // animation on drop
                onDrop: function ($item, container, _super) {
                    var $clonedItem = $('<li/>').css({ height: 0 });
                    $item.before($clonedItem);
                    $clonedItem.animate({ 'height': $item.height() });

                    $item.animate($clonedItem.position(), function () {
                        $clonedItem.detach();
                        _super($item, container);
                    });
                },

                // set $item relative to cursor position
                onDragStart: function ($item, container, _super) {
                    var offset = $item.offset(),
                        pointer = container.rootGroup.pointer;

                    adjustment = {
                        left: pointer.left - offset.left,
                        top: pointer.top - offset.top
                    };

                    _super($item, container);
                },
                onDrag: function ($item, position) {
                    $item.css({
                        left: position.left - adjustment.left,
                        top: position.top - adjustment.top
                    });
                }
            });
        });
    </script>
</body>
</html>